button {
  margin-top: 15px;
  padding: 10px 12px;
  background-color: forestgreen;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

p {
	margin-bottom: auto;
}

table {
  border-collapse: collapse;
}

th {
  background-color: lightgray;
  color: dimgray;
}

td,
th {
  border: 2px solid darkgray;
  width: 80px;
  height: 30px;
  text-align: center;
}

.highlight {
  background-color: lightblue;
  color: white;
}
